/* Global */
body{
    padding: 50px;
    background-image: url(../images/bg.jpg);
    
}
header,main,footer{
    background-color: #ddd;
    display: block;
    line-height: 30px;
}
/* //////////////////////////////////////// */
/* Header */
header h1{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
nav ul#navBar{
    display: flex;
}
/* //////////////////////////////////////////////////// */
/* main */
main h4{
    font-size: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
section#products:hover{
    cursor: pointer;
}
section#products {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
section#products>img{
    width: 300px;
    height: 300px;
    border: 13px solid white;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}
section#result{
    width: fit-content;
}
section#list>ul{
    position: relative;
    right: 60px;
    margin-left: 4%;
    line-height: 24px;
    padding: 9px;
    width: 100%;
    height: 184px;
    background-color: #fff6;
}
section#list>ul li{
    width: 400px;
    float: right;
}
section#list li span{
    font-weight: bold;
    font-size: 17px;
    font-family: 'Lobster', cursive;
}
canvas#myChart{
    height: 500px !important;
}

